/* ------------------------------- colores ---------------------------------------------- */
$sombra: rgb(128, 126, 121);
$fondo: rgb(255, 255, 255);
$link: rgb(38, 178, 255);

/* --------------------------------- medidas ---------------------------------------------- */
$padding: 10px;
$h1: 3rem;
$h2: 2.5rem;

* {
  background-color: $fondo;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

a {
  color: $link;
  cursor: pointer;
}

/* --------------------------------- media ----------------------------------------------- */
/* telefonos */

@media screen and (max-width: 600px) {
  .contenido {
    margin: 2%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * 8%;
    }
  }
}

/* tablets */
@media screen and (max-width: 991px) and (min-width: 601px) {
  .contenido {
    margin: 0 5%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * 8%;
    }
  }

  @for $i from 1 through 12 {
    .m#{$i} {
      width: $i * 8%;
    }
  }
}

/* computadores */
@media screen and (min-width: 992px) {
  .contenido {
    margin: 0 15%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * 8%;
    }
  }

  @for $i from 1 through 12 {
    .m#{$i} {
      width: $i * 8%;
    }
  }

  @for $i from 1 through 12 {
    .l#{$i} {
      width: $i * 8%;
    }
  }
}

.row {
  display: flex;

  /*flex-direction: row;
    flex-wrap: wrap;*/

  flex-flow: row wrap;

  justify-content: space-around;
  align-items: center;
}

.card {
  margin: 5px 0px;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 10px 5px $sombra;

  &:hover:after {
    background-color: red;
  }

  div {
    padding: $padding;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
  }
}
