/* ------------------------------- colores ---------------------------------------------- */
$principal: rgb(36, 56, 255);
$secundario: rgb(23, 164, 255);
$letrabtn: rgb(255, 255, 255);
$sombra: rgb(128, 126, 121);
$fondo: rgb(255, 255, 255);
$link: rgb(38, 178, 255);

$tamanio_col: 7.5;

/* --------------------------------- medidas ---------------------------------------------- */
$padding: 10px;
$h1: 3em;
$h2: 2.5em;

* {
  background-color: $fondo;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

a {
  color: $link;
  cursor: pointer;
}

/* --------------------------------- media ----------------------------------------------- */
/* telefonos */

@media screen and (max-width: 600px) {
  .container {
    margin: 2%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }
}

/* tablets */
@media screen and (max-width: 991px) and (min-width: 601px) {
  .container {
    margin: 0 5%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }

  @for $i from 1 through 12 {
    .m#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }
}

/* computadores */
@media screen and (min-width: 992px) {
  .container {
    margin: 0 15%;
  }

  @for $i from 1 through 12 {
    .s#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }

  @for $i from 1 through 12 {
    .m#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }

  @for $i from 1 through 12 {
    .l#{$i} {
      width: $i * $tamanio_col+0%;
    }
  }
}

.row {
  display: flex;

  /*flex-direction: row;
    flex-wrap: wrap;*/

  flex-flow: row wrap;

  //justify-content: space-around;
  align-items: center;
  background-color: rgba(0,0,0,0);
}

@import "./card.scss";
@import "./text.scss";
