$principal: rgb(36, 56, 255);
$secundario: rgb(23, 164, 255);
$label: rgba(0, 116, 217, 0.2);
$letrabtn: rgb(255, 255, 255);
$sombra: rgb(128, 126, 121);
$fondo: rgb(255, 255, 255);
$link: rgb(38, 178, 255);
