//$principal: rgb(36, 56, 255);
//$height_nav: 60px;

header {
	background: $principal;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

@mixin nav {
	height: $height_nav;
	align-items: center;
	position: relative;
	background-color: $principal;
	padding: 0px 1rem;

	@media screen and (min-width: 991px) {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
	}
}

@mixin mediaNav {
	@media screen and (max-width: 991px) {
		& {
			flex-direction: column;
		}

		& ul {
			display: none;
		}

		& .logo {
			display: flex;
			flex-direction: row;
			justify-content: inherit;
			width: 100%;
			padding: 1em;

			a {
				margin: 0 1em;
				width: 80%;
			}
		}

		& .logo .btn-menu {
			display: block;
			font-size: 1.5rem;
			width: auto;
			cursor: grab;
			background-color: rgba(0, 0, 0, 0);
			border-width: 0px;
		}
	}
}

.nav {
	@include nav();

	.logo {
		width: 20%;

		.btn-menu {
			color: white;
			display: none;
		}
	}

	ul {
		width: 80%;
		display: flex;
		background-color: rgba(0, 0, 0, 0);
		list-style: none;
		margin: 0px;
		padding: 0px;
		justify-content: flex-end;

		li {
			//flex: auto;
			padding: 1em;

			&:hover {
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}

	@include mediaNav();
}

.sidenav {
	position: fixed;
	left: 0;
	top: 0;
	width: 80%;
	z-index: 200;
	background-color: white;
	height: 100vh;
	padding: 1rem;
	transition: all 0.4s;
	transform: translateX(-101%);

	ul {
		list-style: none;
	}
}

.sidenav-show {
	transform: translateX(0%);
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
