//$principal: rgb(36, 56, 255);
//$height_nav: 60px;

header {
	background: $principal;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

@mixin nav {
	display: flex;
	height: $height_nav;
	align-items: center;
	flex-flow: row wrap;
	position: relative;
	background-color: $principal;
}

@mixin mediaNav {
	@media screen and (max-width: 991px) {
		& {
			flex-direction: column;
		}

		& .enlaces {
			display: none;
		}

		& .logo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			padding: 1em;

			a {
				margin: 0 2em;
			}
		}

		& .logo .btn-menu {
			display: block;
		}
	}
}

.nav {
	@include nav();

	.logo {
		width: 20%;

		.btn-menu {
			color: white;
			display: none;
		}
	}

	.enlaces {
		width: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;

		a {
			padding: 1em;
			color: white;
		}

		a:hover {
			background: rgba(0, 0, 0, 0.3);
		}
	}

	@include mediaNav();
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
