//$principal: rgb(36, 56, 255);
//$height_nav: 60px;

header {
	background: $principal;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

@mixin nav {
	display: flex;
	height: $height_nav;
	align-items: center;
	flex-flow: row wrap;
	position: relative;
	background-color: $principal;
}

@mixin mediaNav {
	@media screen and (max-width: 991px) {
		& {
			flex-direction: column;
		}

		& .enlaces {
			display: none;
		}

		& .logo {
			display: flex;
			flex-direction: row;
			justify-content: inherit;
			width: 100%;
			padding: 1em;

			a {
				margin: 0 1em;
				width: 80%;
			}
		}

		& .logo .btn-menu {
			display: block;
			font-size: 1.5rem;
			width: 20%;
			cursor: grab;
		}
	}
}

.nav {
	@include nav();

	.logo {
		width: 20%;

		.btn-menu {
			color: white;
			display: none;
		}
	}

	.enlaces {
		width: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;

		a {
			padding: 1em;
			color: white;
		}

		a:hover {
			background: rgba(0, 0, 0, 0.3);
		}
	}

	input[type='checkbox'].nav-movile {
		display: none;

		&:checked .menu-movile {
			display: block;
		}
	}

	@include mediaNav();
}

.menu-movile {
	position: fixed;
	z-index: 110;
	height: 105vh;
	width: 100%;
	top: 0;
	left: -100%;
	background-color: rgba(0, 0, 0, 0.479);
	padding: 0;
	margin: 0;
	transition: all 0.4s;

	& .show {
		left: 0;
	}

	.content {
		position: absolute;
		background-color: white;
		width: 80%;
		font-size: 1.2rem;
		height: 102vh;
		top: 0;
	}
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}
