@mixin btn {
	background-color: $principal;
	padding: 0.5em 1em;
	border-radius: 1em;
	color: $letrabtn;
	cursor: pointer;
	text-align: center;
	height: 1.2em;
	margin: 0.5em;
	display: inline-flex;
	transition: all 0.2s;
}

@mixin btn_hover {
	background-color: rgba($principal, 0.8);
}

.btn {
	@include btn();

	&:hover {
		@include btn_hover();
	}

	&-large {
		@include btn();
		padding: 0.7em 2em;
	}

	&-large:hover {
		@include btn_hover();
	}
}

.center_text {
	text-align: center;
}

.white_text {
	color: rgb(245, 245, 245);
}

.black_text {
	color: rgb(0, 0, 0);
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

h6 {
	font-size: $h6;
}

a {
	color: $link;
	cursor: pointer;
}
