//Estilo de letra
* {
	font-family: 'Roboto', sans-serif, Arial;
}

@mixin btn {
	background-color: $principal;
	padding: 0.5em 1em;
	border-radius: 1em;
	color: $letrabtn;
	cursor: pointer;
	text-align: center;
	height: 1.2em;
	margin: 0.5em;
	display: inline-flex;
	transition: all 0.2s;
}

@mixin btn_hover {
	background-color: rgba($principal, 0.8);
}

@mixin ancho100 {
	width: 100%;
}

.btn {
	@include btn();

	&:hover {
		@include btn_hover();
	}

	&-large {
		@include btn();
		padding: 0.7em 2em;

		&:hover {
			@include btn_hover();
		}
	}

	&-xxl {
		width: 100%;
		padding: 1em 2em;
		text-align: center;
		background-color: $principal;
		border-radius: 1em;

		&:hover {
			@include btn_hover();
		}
	}
}

.center_text {
	text-align: center;
}

.white_text {
	color: rgb(245, 245, 245);
}

.black_text {
	color: rgb(0, 0, 0);
}

h1 {
	font-size: $h1;
	@include ancho100();
}

h2 {
	font-size: $h2;
	@include ancho100();
}

h3 {
	font-size: $h3;
	@include ancho100();
}

h4 {
	font-size: $h4;
	@include ancho100();
}

h5 {
	font-size: $h5;
	@include ancho100();
}

h6 {
	font-size: $h6;
	@include ancho100();
}

a {
	color: $link;
	cursor: pointer;
}

.center {
	width: 100%;
	display: flex;

	justify-content: center;
	align-items: center;
}
